#------------配置格式说明start--------
# 1.模块名以[]开始               如:[ENABLE]
# 2.#号之后语句的表示注释         如: #这是一条注释
# 3.数组以[]括起来,元素以逗号分隔  如: key=[v1,v2]
#------------配置格式说明end----------


[Dispatcher]
net_tcp=[127.0.0.1:10001]         #tcp配置

[Monitor]
net_udp=[127.0.0.1:9999]          #udp配置

#------------以下是游戏配置----------
[Game]
game_id=500                            #game类别
game_level=1                         #游戏级别

table_count = 10                  #一个房间中对桌子数量

table_min_user = 2                #每台桌子对最少玩家数量，达到这个数量即可开始游戏
table_max_user = 6                #每台桌子对最大玩家数量
table_mix_chip = 0                #最小进入筹码
table_max_chip = 9223372036854775807             #最大进入筹码
table_init_chip = 5000            #初始化筹码
table_init_ante = 0               #前注
table_bilnd = [100]               #盲注，对德州扑克而言，这意味着大盲，数组意味着比赛场，如SNG
table_bilnd_time = [120]          #每个盲注持续时间

table_action_timeout = 30         #允许玩家执行动作对最大超时时间


