#------------配置格式说明start--------
# 1.模块名以[]开始               如:[ENABLE]
# 2.#号之后语句的表示注释         如: #这是一条注释
# 3.数组以[]括起来,元素以逗号分隔  如: key=[v1,v2]
#------------配置格式说明end----------


[Dispatcher]
net_tcp=[127.0.0.1:10001]         #tcp配置

[Monitor]
net_udp=[127.0.0.1:9999]          #udp配置

[Game]
game_id=1                            #game类别

