#------------配置格式说明start--------
# 1.模块名以[]开始               如:[ENABLE]
# 2.#号之后语句的表示注释         如: #这是一条注释
# 3.数组以[]括起来,元素以逗号分隔  如: key=[v1,v2]
#------------配置格式说明end----------


#------------以下是游戏配置----------
[Game]
id=500                       #game 唯一id
level=1                      #游戏级别
level_name=富豪场                          #游戏级别名称

table_count = 10                  #一个房间中对桌子数量

table_min_user = 2                		#每台桌子对最少玩家数量，达到这个数量即可开始游戏
table_max_user = 6                		#每台桌子对最大玩家数量
table_mix_chip = 0                		#最小进入筹码
table_max_chip = 9223372036854775807	#最大进入筹码
table_init_chip = 5000            		#初始化筹码
table_ante 	= [0]             	  		#前注
table_blind = [100]               		#盲注，对德州扑克而言，这意味着大盲，数组意味着比赛场，如SNG
table_blind_time = [120]          		#每个盲注持续时间

timeout_preflop  	= 5         			#开始游戏               ~ 发牌期 时间
timeout_flop 		= 5         			#翻牌前操作结束后 ~ 发翻牌 时间
timeout_turn 		= 5         			#翻牌操作结束后    ~ 发转牌 时间
timeout_river 		= 5         			#转牌操作结束后    ~ 发河牌 时间
timeout_showhand 	= 5         			#河牌操作结束后    ~ ShowHand 时间

timeout_user_action 		= 30         	#等待玩家执行动作最大时间
timeout_next_user_action	= 5         	#广播一个用户操作后，等待广播下一个玩家的操作时间
timeout_pot 				= 5         	#广播一轮操作结束后，广播Pot时间
timeout_clearing 			= 10         	#秀牌结束后，等待结算时间
timeout_new_game 			= 30         	#游戏一局结算后，下一局游戏开始时间


